h2{
	font: 50px 'Axis', sans-serif;
	color: #1e2633;
	font-weight: 700;
	letter-spacing: 12px;
	margin-bottom: -1.5%;
}
h3 {
	font: 12px 'Montserrat', sans-serif;
	color: #985e5b;
	font-weight: 800;
	margin-bottom: 5%;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}
h5, h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}
p{
	font: 12px 'Montserrat', sans-serif;
	color: #1e2633;
	letter-spacing: 2px; 
	margin-top: -1%;
	line-height: 30px;
}
a:active, a:hover {
    outline: none;
}

.nav_page{
	margin-bottom: 0;
	padding: 25px 0;
	border: 0;
	background-color: #fff;
}
.all .nav_one>.active>a,
.all .nav_one>.active>a:hover,
.all .nav_one>.open>a,
.all .nav_one>.open>a:focus,
.all .nav_one>.open>a:hover{
	background-color: transparent;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
display: block;
margin: 0;
}
a.menu:after, .dropdown-toggle:after {
content: none;
}
a.logo, footer a.logo_1{
	font: 25px 'Pacifico', cursive;
	color: #1e2633 !important;
	letter-spacing: 2px;
	padding-top: 0;
}
.nav_one{
	width: 104%;
}
.nav_one>li >a, .blog_menu a, .menu_nav a, .list_blog_single a{
	font: 12px 'Montserrat', sans-serif;
	font-weight: 800;
	color: #1e2633 !important;
	text-decoration: none;
}
li.active a,
.nav_one>li >a:hover,
.nav_one>li >a:focus, 
.blog_menu a:hover, 
.menu_nav a:hover,
.list-second >li >a:hover,
.list-second>li >a:focus{
	color: #985e5b !important;
}
header .dropdown{
	position: relative;
	display: inline-block;
}
header .dropdown:hover .blog_menu{
	display: block;
}
.blog_menu{
	display: none;
	min-width: 120px;
	top: 116%;
	left: -63%;
	text-align: center;
	border: 0;
	box-shadow: none;
	border-radius: 0;
}
.blog_menu li{
	margin-top: 15%;
}
.blog_menu>li>a:hover{
	background-color: transparent;
}
.border_right{
	border-right: 1px solid #000;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 17%;	
}
.blog_our .border_right, .menu_our .border_right,
.about_us .border_right, .reservation_our .border_right{
	border-right: 1px solid #fff;
}


	/*--------slider_first--------*/
	.text_slide{
		text-align: left;
		left: 56.8%;
		right: -14%;
		padding-bottom: 38px;
	}
	.text_slide h2{
		color: #fff;
		letter-spacing: 10px;
		margin-bottom: -18px;
	}
	.text_slide h3, .about_us h3, 
	.menu_our h3, .reservation_our h3, .blog_our  h3{
		font-size: 30px;
		text-transform: none;
		letter-spacing: 4px;
	}
	.arrow_left, .arrow_right{
		top: 76.3%;
		left: 18.8%;
		width: 3.5%

	}
	.arrow_left{
		background-image: none !important;
	}
	.arrow_right{
		right: 73.5% !important;
		background-image: none !important;
	}
	/*-----about----*/
	.about{
		position: relative;
	}
	.about h2, .reservation h2, .history h2{
		margin-top: 36%;
		margin-bottom: -4%;
	}
	.about h3{
		letter-spacing: 1.5px;
	}
	.img_4{
		position: relative;
		left: 8.3%;
		top: 110px;

	}
	.img_5{
		position: relative;
		left: 0%;
		top: 42px;
		margin-bottom: 25%;
	}
	/*------gallery-----*/
	.gallery{
		background-color: #f7f7f7;
	}
	.gallery h2{
		margin-top:	80.5%;
	}
	.block_thumb{
		margin: 8.5% 0 7% 0;
	}
	.thumb{
		margin: 0 -30px 15px 0;
	}
	/*------menu-------*/
	.menu h2, .contact h2, .goals h2{
		margin-top: 36%;
		margin-right: -2%;
	}
	.img_6, .img_9{
		position: relative;
		margin: 15% 0 0 23.5%;
		z-index: 1;
	}
	.img_7{
		margin: -14.5% 0 18.1% 7.2%;
	}
	.menu_nav li{
		padding-right: 7%;
	}
	.menu_nav li:last-child{
		padding-right: 0;
	}
	.menu_nav a{
		padding-bottom: 20px;
	}
	.menu_nav .active a, .menu_nav  a:hover{
		border-bottom: 2px solid #985e5b;
	}
	hr{
		border-color: #ebebeb;
		margin-top: 0.7%;
		width: 100%;
	}
	.food p{
		font: 22px "Streetwear",sans-serif;
		margin: 7.5% 0 4%;
		color: #1e2633;
	}
	.food_1 p{
		margin-top: 0;
	}
	.menu p.description{
		line-height: 25px;
	}
	p.price{
		font: 25px 'JaapokkienchanceRegular',sans-serif;
	}
	span.cents{
		color: #dcdee0;
	}
	.appetizers_img li{
		margin-bottom: 67%;
	}
	.menu_img{
		margin-left: -62%;
		margin-bottom: 76%;
	}
	.menu_1{
		margin-top: 13%;
	}
	.menu_3{
		margin-bottom: 50%;
	}
	.menu_7, .menu_10{
		margin-top: -27%;
    margin-bottom: 36%;
	}
	.dish_description li{
		margin-bottom: 10%;
	}
	.dish_description li:nth-child(2){
		margin-bottom: %;
	}
	.dish_description li:nth-child(3){
		margin-bottom: %;
	}
	.menu_price li{
		margin-top: 2%;
		margin-bottom: 84%;
	}
	li.atlantic{
		margin-bottom: 12%;
	}
	.row_last{
		margin-bottom: 11.7%;
	}
	/*----romantic----*/
	.romantic{
		background-color: #f7f7f7;
	}
	p.quote{
		font-size: 25px;
		margin: 31.2% 0 3.5%;
	}
	p.author{
		font-family: 'AXIS', sans-serif;
	}
	.img_8{
		position: relative;
		top: -100px;	
	}
	/*----reservation-----*/
	.img_9{
		top: 16px;
		margin-left: 16%; 
	}
	.img_10{
		margin-top: -11%;
		margin-left: 25.5%;
	}
	p.reserv{
		margin-bottom: 9%;
	}
	h4{
		font-size: 20px;
		margin: 8.7% 0;
	}
	.form_first img{
		margin-right: 3.8%;
		margin-bottom: 	9%;
	}
	 input#datetimepicker1{
		width: 64%;
    margin-left: 24%;
    margin-top: -21%;
    position: relative;
    z-index: 500;
	}
	.calendar{
		margin-left: -67%;
	}
	.arrow_date{
		float: right;
		margin-top: -6.8%;
		margin-right: 12.5% !important;
	}
	.form_first input, .form_first select,
	.form_second input, .form_second select,
	input#datetimepicker1, .form_bs input{
		border: 0;
		border-radius: 0;
		border-bottom: 3px solid #f7f7f7;
		box-shadow: inset 0 0 0;
		font: 15px 'Montserrat', sans-serif;
		font-weight: 800;
		color: #1e2633;	
		background-color: transparent;	
		cursor: pointer;
	}
	:-ms-input-placeholder.form-control {
		color: #1e2633;
	}

	.form_first select.form-control{
		margin-top: 	-4%;
	}
	.new-select-style select{
		background: transparent;
		width: 110%;
		line-height: 1;
		-webkit-appearance: none;
		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px; 
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none !important;
		padding-bottom: 	5px;
	}
	select::-ms-expand {
		display: none;
	}
	.new-select-style{
		display: inline-block;
		overflow: hidden;
		background: url(../images/one_page/arrow_down.png) no-repeat right;
		width: 65%;
	}
	input.ind_table{
		font-size: 	11px;
		color: #fff;
		letter-spacing: 2px;
		background: #1e2633;
		margin: 2.6% 0 12.8%;
		padding: 17px 42px; 
		border-bottom: 0;	
	}
	input.ind_table:hover{
		background: #985e5b; 		
	}
	input::-webkit-inner-spit-button{
		-webkit-appearance: none !important;
	}
	/*-----lunch-----*/
	.lunch{
		background: #f7f7f7;
	}
	.lunch h2{
		margin-top: 95%;
	}
	.day1 p{
		font: 15px 'Montserrat', sans-serif;
		font-weight: 800;
	}
	p.day{
		font: 20px 'Streetwear',sans-serif;
		color: #dcdee0;
		margin-top: -12%;
	}
	.slide_2{
		position: relative;
		margin: 10% 0 2%;
		max-width: 750px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d; 
	}
	.picture{
		position:absolute;
		top: 0;
		left: 0;
	}
	.slide_2 p{
		position: absolute;
		display: inline-block;
		font: 17px 'Montserrat', sans-serif;
		background: #edeff2;
		padding: 17px 20px;
		z-index: 500;
		top: 138%;
		left: 62.5%;
	}
	.slide_2 input {
		visibility: hidden;
	}
	.otra{
		position: absolute	;
		top:36%;
		left: -5%;
		background: #edeff2;
		width: 57px;
		height: 57px;
		background-color: #edeff2;
	}
	.otra_two{
		margin-top: 10%;
	}
	#one:checked ~ .first_1 .afin,
	#three:checked ~ .first_1 .afin,
	#two:checked ~ .second_2 .afin,
	#four:checked ~ .second_2 .afin,
	#three:checked~ .third_3 .afin,
	#one:checked ~.third_3 .afin,
	#two:checked ~ .fourth_4 .afin,
	#four:checked ~ .fourth_4 .afin{
		display: none;
	}
 	
	.picture:hover label + label {
		-webkit-animation-delay: .5s;
		-moz-animation-delay: .5s;
		-o-animation-delay: .5s;
		animation-delay: .5s;
	}
	.picture:hover label:hover {
		-webkit-animation: none;
		-moz-animation: none;
		-o-animation: none;
		animation: none;
	}
	img.arrow{
		display: block;
    margin: 39% auto;
	}
	#one:checked ~ .first_1,
	#two:checked ~ .second_2,
	#three:checked ~ .third_3,
	#four:checked ~ .fourth_4{
		-webkit-animation: 1s first ;
		-moz-animation: 1s first ;
		-o-animation: 1s first ;
		animation: 1s first ;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		transform-origin: center;
		z-index: 4;
	}
	#one:checked ~ .second_2,
	#two:checked ~ .third_3,
	#three:checked ~ .fourth_4,
	#four:checked ~ .first_1{
		-webkit-animation: 1.5s fuera-izq;
		-moz-animation: 1.5s fuera-izq;
		-o-animation: 1.5s fuera-izq;
		animation: 1.5s fuera-izq;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-transform-origin: 313%;
		-moz-transform-origin: 313%;
		-o-transform-origin: 313%;
		transform-origin: 313%;
		z-index: 3;
	}
	#one:checked ~ .third_3,
	#two:checked ~ .fourth_4,
	#three:checked ~ .first_1,
	#four:checked ~ .second_2{
		-webkit-animation: 2s fuera-dech;
		-moz-animation: 2s fuera-dech;
		-o-animation: 2s fuera-dech;
		animation: 2s fuera-dech;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-transform-origin: 252%;
		-moz-transform-origin: 252%;
		-o-transform-origin: 252%;
		transform-origin: 252%;
		z-index:2;
	}
	#one:checked ~ .fourth_4,
	#two:checked ~ .fiest_1,
	#three:checked ~ .second_2,
	#four:checked ~ .third_3{
		-webkit-animation: 2s fuera-dch;
		-moz-animation: 2s fuera-dch;
		-o-animation: 2s fuera-dch;
		animation: 2s fuera-dch;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-transform-origin: 281%;
		-moz-transform-origin: 281%;
		-o-transform-origin: 281%;
		transform-origin: 281%;
		z-index:1;
	}
	@keyframes fuera-izq {
		0% {
			-webkit-transform: scale(1) translateX(0%);
			-o-transform: scale(1) translateX(0%);
			transform: scale(1) translateX(0%);
		} 
		70% {
			-webkit-transform: scale(.95) translateX(-10%);
			-o-transform: scale(.95) translateX(-10%);
			transform: scale(.95) translateX(-10%);
		}
		100% {
			-webkit-transform: scale(.93) translateX(-7%);
			-o-transform: scale(.93) translateX(-7%);
			transform: scale(.93) translateX(-7%);
			opacity: 0.5;
		}
	}
	@-webkit-keyframes fuera-izq {
		0% {
			-webkit-transform: scale(1) translateX(0%);
			transform: scale(1) translateX(0%);
		} 
		70% {
			-webkit-transform: scale(.95) translateX(-10%);
			transform: scale(.95) translateX(-10%);
		}
		100% {
			-webkit-transform: scale(.93) translateX(-7%);
			transform: scale(.93) translateX(-7%);
			opacity: 0.5;
		}
	}
	@-moz-keyframes fuera-izq {
		0%{
			-moz-transform: scale(1) translateX(0%);
		}
		70%{
			-moz-transform: scale(.95) translateX(-10%);
		}
		100%{
			-moz-transform: scale(.93) translateX(-7%);
			opacity: 0.5;
		}
	}
	@keyframes fuera-dech {
		0% {
			-webkit-transform: scale(1) translateX(0%);
			transform: scale(1) translateX(0%);
		}
		70% {
			-webkit-transform: scale(.89) translateX(-10%);
			transform: scale(.89) translateX(-10%);
		}
		100% {
			-webkit-transform: scale(.85) translateX(-7%);
			transform: scale(.85) translateX(-7%);
			opacity: 0.5;
		}
	}
	@-moz-keyframes fuera-dech{
		0%{
			-moz-transform: scale(1) translateX(0%);
		}
		70%{
			-moz-transform: scale(.5) translateX(-10%);
		}	
		100%{
			-moz-transform: scale(.9) translateX(-7%);
			opacity: 0.5;
		}
	}
	@-webkit-keyframes fuera-dech {
		0% {
			-webkit-transform: scale(1) translateX(0%);
			transform: scale(1) translateX(0%);
		}
		70% {
			-webkit-transform: scale(.89) translateX(-10%);
			transform: scale(.89) translateX(-10%);
		}
		100% {
			-webkit-transform: scale(.85) translateX(-7%);
			transform: scale(.85) translateX(-7%);
			opacity: 0.5;
		}
	}
	@keyframes fuera-dch {
		0% {
			transform: scale(1) translateX(0%);
		} 
		70% {
			transform: scale(.83) translateX(-10%);
			opacity: 0.5;
		}
		100% {
			transform: scale(.83) translate(-7%, -5px);
			opacity: 0.5;
		}
	}
	@-webkit-keyframes fuera-dch {
		0% {
			-webkit-transform: scale(1) translateX(0%);
		} 
		70% {
			-webkit-transform: scale(.83) translateX(-10%);
		}
		100% {
			-webkit-transform: scale(.83) translate(-7%, -5px);
			opacity: 0.5;
		}
	}
	@-moz-keyframes fuera-dch {
		0% {
			-moz-transform: scale(1) translateX(0%);
		} 
		70% {
			-moz-transform: scale(.83) translateX(-10%);
		}
		100% {
			-moz-transform: scale(.83) translate(-7%, -5px);
			opacity: 0.5;
		}
	}
	@keyframes first {
		0% {
			-webkit-transform: scale(.8);
			-moz-transform: scale(.8);
			-o-transform: scale(.8);
			transform: scale(.8);
			z-index: 1;
		}
		50%{
			-webkit-transform: scale(.6);
			-moz-transform: scale(.6);
			-o-transform: scale(.6);
			transform: scale(.6);
			z-index: 2;
		}
		70% {
			-webkit-transform: scale(.5);
			-moz-transform: scale(.5);
			-o-transform: scale(.5);
			transform: scale(.5);
			z-index: 3;
		}
		100% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			z-index: 4;
		}
	}
	@-webkit-keyframes first {
		0% {
			-webkit-transform: scale(.8);
			transform: scale(.8);
			z-index: 1;
		}
		50%{
			-webkit-transform: scale(.6);
			transform: scale(.6);
			z-index: 2;
		}
		70% {
			-webkit-transform: scale(.5);
			transform: scale(.5);
			z-index: 3;
		}
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			z-index: 4;
		}
	}
	@-moz-keyframes first {
		0% {
			-moz-transform: scale(.8);
			z-index: 1;
		}
		50%{
			-moz-transform: scale(.6);
			z-index: 2;
		}
		70% {
			-moz-transform: scale(.5);
		}
		100% {
			-moz-transform: scale(1);
			z-index: 4;
		}
	}
	
	.row_slide_2{
		margin-top: 	53.5%;
		margin-bottom: 	10.5%;
	}
	/*------contact------*/
	.contact h4{
		margin: 0;
		color: 	#985e5b;
		margin-bottom: 2.3%;
	}
	.form_second .form-control{
		height: 48px;	
	}
	h4.detail{
		margin-bottom: 	12%;
	}
	.form_second input, .form_second select{
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
	}
	input[type="text"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder {
		color: #1e2633;
	}
	input[type="text"]::-moz-placeholder,input[type="email"]::-moz-placeholder{
		color: #1e2633;
	}	/* Firefox 19+ */
	input[type="text"]:-moz-placeholder,input[type="email"]:-moz-placeholder{
		color: #1e2633;
		}/* Firefox 18- */
		input[type="text"]:-ms-input-placeholder,input[type="email"]:-moz-placeholder{
			color: #1e2633;
		}
		button.send, .details_2 p, p.follow{
			font: 12px 'Montserrat', sans-serif;
			font-weight: 	800;
		}
		button.send{
			padding: 13px 47px;
			border: 0;
			border-radius: 0; 
			background: #f5f7fa;
			margin-top: 6%;
		}
		button.send:hover{
			background: #1e2633;
			color: #d6d8dc;	
		}
		.form-control:focus {
			border-color: #f7f7f7;
			outline: 0;
			-webkit-box-shadow: inset 0 0 0, 0 0 0;
			box-shadow: inset 0 0 0 , 0 0 0;
		}
		.new-select-style1 select{
			background: transparent;
			max-width: 719px;
			width: 100%;
			line-height: 1;
			-webkit-appearance: none;
			/* for FF */
			-moz-appearance: none;
			text-indent: 0.01px; 
			text-overflow: '';
			/* for IE */
			-ms-appearance: none;
			appearance: none!important;
			padding-bottom: 	5px;
		}
		select::-ms-expand {
			display: none;
		}

		.new-select-style1{
			display: inline-block;
			overflow: hidden;
			background: url(../images/one_page/arrow_down.png) no-repeat right;
			max-width: 717px;
			width: 100%;
		}
		.details_2 p{
			letter-spacing: 1px;
			line-height: 	5px;
		}
		p.details_address{
			letter-spacing: 0;
		}
		p.details_1{
			font: 	15px 'AXIS', sans-serif;
			font-weight: 	800;
			color: 	#985e5b;
		}
		.details{
			margin-bottom: 13%;
		}
		/*----footer----*/
		footer{
			background-color: #edeff2;
		}
		footer a.logo_1{
			display: inline-block;
			padding: 27px 0;
			text-decoration: none;	
		}
		footer p{
			margin-bottom: 	0;
		}
		p.footer{
			font: 	12px 'AXIS', sans-serif;
			font-weight: 	700;
			margin-top: 2.6%;
			padding: 30px 0;
		}
		p.follow{
			display: inline-block;
			margin-right: 1.5%;
			padding: 48px 0;
		}
		a.social{
			margin-right: 1.3%;
		}
		a.social:hover{
			opacity: 0.3;
		}
		footer img.img-responsive{
			display: inline-block;
		}
		.social_block{
			display: 	inline;
		}
		.contact_row{
			margin-bottom: 6%;
		}

		/*-------HOME-------*/

		/*----lunch---*/
		label:hover {
			background: #985e5b;
		}
		.slider_2s{
		z-index: 9;
		max-width: 600px;
		max-height: 400px;
		overflow: hidden;
		margin: 0 0 7px;
		position: relative;
		left: 10.5%;
	}
	.slider_2s ul,
	.slider_2s li {
		padding: 0;
		margin: 0;
	}
	.slider_2s ul {
		width: 3100px; 
	}
	.slider_2s ul li {
		float: left;
		max-width: 600px;
		max-height: 400px;
	}
	.slider_2s .nav {
		position: absolute;
		left: 42.5%;
		bottom: 5%; 
	}
	.slider_2s .nav span {
		opacity: 0.9;
		margin: 0 8px 0 0;
		width: 16px;
		height: 16px;
		border: 2px solid #fff;
		border-radius: 8px;
		cursor: pointer;
		overflow: hidden;
		display: block;
		float: left;
	}
	.slider_2s .nav span.on {
		background: #fff;
	}
	.text_img p {
    position: absolute;
    display: inline-block;
    font: 17px 'Montserrat', sans-serif;
    background: #edeff2;
    padding: 17px 20px;
    z-index: 500;
    top: 138%;
    left: 62.5%;
  }
		/*-----menu-----*/
		.img7{
			margin-bottom: 30.5%;
		}
		/*---romantic--*/
		 .img8{
		 	float: right;
		 }
		/*---service---*/
		.service h2, .blog h2{
			margin-top: 8.4%;
			margin-bottom: -1.6%;
		}
		.service h3{
			margin-bottom: 6.1%;
		}
		.row_middle{
			background-color: #f7f7f7;
		}
		.col_middle{
			border-left: 1px solid #d9d9d9;
			border-right: 1px solid #d9d9d9 ;
		}
		.service p{
			font-size: 20px;
			margin-top: 32.2%;
			margin-bottom: 32.2%;
		}
		button.order{
			padding: 18px 48px;
			border: 0;
			border-radius: 0;
			background: #1e2633;
			font: 11px 'Montserrat', sans-serif;
			font-weight: 800;
			color: #fff;
			margin-top: -11.8%;
		}
		button.order:hover, button.order:focus{
			background: #985e5b;
			color: #fff;
			outline: 0px;
			outline-offset: 0px;
		}
		/*------blog------*/
		.row_square{
			background-color: #f7f7f7;
		}
		.blog h3{
			margin-bottom: 20%;
		}
		.square{
			position: relative;
			top: -165px;
			margin-bottom: -18%;
		}
		.blog_text{
			position: absolute;
			top: -59%;
			left: 14%;
			width: 72%;
			height: 116%;
			background-color: #fff;
		}
		.blog_text p{
			margin: 15.5% auto;
		}
		p.blog_top{
			font: 14px 'Montserrat', sans-serif;
			font-weight: 800;
			color: #dcdee0;
			margin-top: 26%;
		}
		p.blog_middle{
			font: 12px 'AXIS', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			color: #000;
		}
		p.blog_bottom{
			margin-top: -4%;
			font-weight: 900;
		}
		.blog_text2{
			width: 54%;
			height: 128%;
			top: -65%;
			left: 23%;
		}
		.blog_text2 .blog_middle2{
			margin-top: -5.5%;
			line-height: 22px;
		}
		.blog_text2 .blog_bottom2{
			margin-top: -9%;
		}

		/*------about-----*/
		a.logo_about{
			color: #fff !important;
		}
		.nav_about{
			background-color: transparent;
		
		}
		.nav_about2 >li > a,
		.list-second > li> a{
			color: #fff !important;
			text-decoration: none;
		}
		.all .nav_about2>.active>a,
		.all .nav_about2>.active>a:hover{
			background-color: transparent;
			color: #985e5b !important;
		}
		.list-second{
			margin-top: -13.1%;
			margin-left: -16%;
		}
		.list-second .border_left{
			border-left: 1px solid #fff;
		}
		.about_us{
			background: url(../images/about/img_1a.png) no-repeat;
		}
		.about_us	 h2, .menu_our h2, .reservation_our h2, .blog_our h2,
		.contact_our h2{
			color: #fff;
			margin-top: 31.5%;

		}
		.about_us h3, .menu_our h3, .reservation_our h3, .blog_our h3,
		.contact_our h3{
			margin-bottom: 7%;
		}
		.history, .goals{
			border-bottom: 1px solid #ebebeb;
		}
		.goals img{
			max-width: 85%;
		}
		.img_2a{
			position: relative;
			z-index: 1;
			margin: -14.5% 0 15.1% 10.2%;
		}
		.img_3a{
			margin: 15% 0 0 17.5%;
		}
		.accordion_block{
			max-width: 820px;
			margin: 0 auto;
		}
		ul.accordion{
			display: -webkit-box;
			 display: -moz-box;
			 display: -ms-flexbox;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			margin-top: 12%;
			padding: 0;
			-webkit-justify-content: center;
			justify-content: center;
		}
		ul.accordion img{
			width: 320px;
		}    
		ul.accordion li{
			width: 100px;
			overflow: hidden;
			display: block;
			cursor:pointer;
			-webkit-transition: all 1.5s;
			-moz-transition: all 1.5s;
			-ms-transition: all 1.5s;
			-o-transition: all 1.5s;
			transition: all 1.5s;
		}
		ul.accordion li:hover{
			width:320px;
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-ms-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;
		}
		ul.accordion li:nth-child(6){
			width: 320px;
		}
		ul.accordion:hover li:nth-child(6){
			width: 100px;
		} 
		ul.accordion li:nth-child(6):hover{
			width:320px;
		}  
		.opening h3{
			font-size: 14px;
		}
		.opening p{
			font-weight: 800;
		}
		.opening{
			max-width: 260px;
			margin: 37.5% auto;
			padding: 5.4% 0;
			border: 3px solid #edeff2;
		}
/*-------------menu_page---------*/
	.menu_our{
		background: url(../images/menu/menu_bg.png);
	}
	/*-----------reservation_page------*/
	.reservation_our{
		background: url(../images/reservation/reservation_bg.png);
	}

	/*-------blog_page------*/
	.blog_our{
		background: url(../images/blog/blog_bg.png) no-repeat;
	}
	.post{
		margin-top: 10%;
	}
	.main{
		position: relative;
	}
	.main h3{
		margin: 1% 0 2.5%;
		font-size: 30px;
		text-transform: uppercase;
		color: #1e2633;
		font-weight: 400;
	}
	p.date3{
		font-weight: 800;
		color: #bbbdbf;
		margin-bottom: 2.5%;
	}
	p.department{
		font-family: 'Axis', sans-serif;
		color: #985e5b;
	}
	p a.continue{
		font: 12px 'Montserrat' sans-serif;
		font-weight: 800;
		color: #985e5b;
		margin-top: 2%;
	}
	p.continue:hover, .cd-pagination a{
		color: #272a36;
	}
	p.description{
		margin-top: 5.5%;
	}
	video{
		width: 100%;
		height: auto;
		max-height: 100%; 
	}
	.fixed_blog{
		margin-top: 20%;
		
	}
	#form_third input{
		background: url(../images/one_page/search.png) no-repeat right;
		outline: none;
		height: 30px;
		border: 0;
		border-bottom: 3px solid #edeff2;
		-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 0px rgba(0,0,0,0.75);
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	input[type="search"]{
		color: #bbbdbf;
	}
	h3.categories{
		font-size: 12px ;
		font-weight: 800 ;
		margin-top: 19% ;
		margin-bottom: 9% ;
	}

	.col_fixed{
		padding-left: 0;
	}
	.fixed_list li{
		margin-bottom: 20%;
	}
	.fixed_list  li  a, .col_fixed p, .fixed_date, .small_post p a,
	.read_more a{
		font: 13px 'Montserrat', sans-serif;
		color: #1e2633;
		text-decoration: none;
	}
	.small_post p a, .read_more a{
		letter-spacing: 0.1em;
	}
	.small_post{
		margin-bottom: 8.5%;
	}
	p.fixed_date{
		font-size: 11px;
		color: #bbbdbf;
		margin-top: -1%;
	}
	.popular_post{
		padding-top: 28%;
	}
	.pagination1{
		margin-top: 4%;
	}
	.pagination1 img{
		display: inline-block;
	}

	.cd-pagination{
		display: inline-block;
		width: 100%;
		margin: 0;
		padding:18px;
		border-top: 2px solid #edeff2;
 	}
 	.cd-pagination li{
 		display: inline;
 		}
 	.cd-pagination li a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 12px 18px;
  font: 15px 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
}
.cd-pagination a:hover,.current, .fixid_list a:hover,.small_post p a:hover,
.col_fixed a:hover, .read more a {
	color: #985e5b !important;
} 

.cd-pagination .button:first-of-type {
  float: left;
}
.cd-pagination .button:last-of-type {
  float: right;
}
.cd-pagination .button1 a{
  border-right: 2px solid #edeff2;

}
.cd-pagination .button2 a{
  border-left: 2px solid #edeff2;
 
}
.pagination-our a.arrow_left1{
	background: url(../images/blog/arrow_left.png) no-repeat 1px 0px;
	display: block;
	width: 15px;
	height: 25px;
}
.pagination-our a.arrow_left1:hover{
	background-position: 1px -25px;
}
.pagination-our a.arrow_right1{
	background: url(../images/blog/arrow_right.png) no-repeat 20px 0px;
	display: block;
	width: 15px;
	height: 25px;
}
.pagination-our a.arrow_right1:hover{
	background-position: 20px -25px;
}
/*--------blog_single_post page--*/

.detail{
	margin-top: 4.7%;
	margin-bottom: -3%;
	font-size: 15px;
}
.border_block_left{
	border-left: 2px solid #edeff2;
	padding-left: 3%;
}
.list_blog_single{
	margin-top: 2.9%;
	margin-bottom: 8.5%;
}
.list_blog_single > li{
	margin-right: 2%;
}
.list_blog_single > li:last-child{
	margin-right: 0;
	margin-left: 53%;
}
.list_blog_single > li > a{
	font-weight: 400;
}
.blog_menu1{
	background: #f5f7fa;
}
.blog_menu1>li{
	margin-top: 5%;
}
.blog_menu1 a{
	font-size: 10px;
}
.avatar{
	margin-bottom: 17.5%;
}
.avatar p, p.date_bs{
	font-size: 11px;
	line-height: 2.6;
}
p.rich, p.rich1{
	font-weight: 800;
}
.avatar img, .avatar .photo {
	float: left;
	margin-top: 1.5% ;
	margin-right:  3%;
}
p.rich1{
	margin-bottom: 7.8%;
}
.read_more img{
	margin-bottom: 3%;
}
.read_more p{
	line-height: 15px;
}
p.date_bs{
	color: #dfe0e1;
	margin-bottom: 40%;
}
.comments .avatar{
	margin-bottom: 10%;
}
.avatar2{
	margin-left: 6.4%;
}
.comments .avatar p{
	font-size: 12px;
}
.comments p.rich_name{
	font: 11px "AXIS",sans-serif;
	margin-top: 0 ;
}
span.comment{
	float:  right;
	font: 11px 'Montserrat', sans-serif;
	color: #dfe0e1;
}
.avatar .photo{
	margin-right: 0;
}
.comments .avatar img{
	margin: -7% 11% 13%;
	
}
.comments .avatar_text{
	overflow: hidden;
}
.photo a{
	text-decoration: none;
	border-top: 2px solid #dcdee0;
	font: 10px "AXIS",sans-serif;
	color: #985e5b;
	padding-right: 32%;
	padding-top: 7%;
}
.form_bs .form-group{
	margin-top: 5.7%;
}
.form_bs input{
	font-size:  11px ;
	border-bottom-color: #f5f7fa;
}
button.post_comm{
	background: #1e2633;
	color: #fff;
	margin-top: 4.5%;
	margin-bottom: 13%;
}
button.post_comm:hover{
	background: #985e5b;
}

/*---contact_page---*/
.contact_our{
	background: url(../images/contact/img_cont.jpg) no-repeat;
}
		@media (min-width: 1199px){
			a.navbar-brand.logo{
				margin-left: 86% !important;
				padding-left: 0;
			}
			footer a.logo_1{
				margin-left: 100%;
			}
			.all{
				margin-left: 8%;
			}
		}
		@media (min-width: 1200px){
			.gallery h2, .gallery h3{
				margin-left: 	-8%;
			}
			.p_left{
				margin-right: -6%;
			}
			.p_right{
				margin-left: -6%;
			}
			.cd-pagination .button1 a{
				margin-left: 595%;
			}
			.cd-pagination .button2 a{
				margin-left: -594%;
			}
		}
		@media (max-width: 1199px){
			a.navbar-brand.logo{
				margin-left: 19% !important;
			}
			.all{
				margin-left: 15%;
			}
			.text_slide{
				left: 41.8%;
			}
			.arrow_left, .arrow_right {
				left: 16.5%;
				top: 64.3%;
			}
			.about .col-right, .history .col-right{
				margin-left: 5%;
			}
			.img_4{
				top: 75px;
			}
			.gallery h2{
				margin-top:	57%;
			}
			.thumb{
				margin-right: -15px;
			}
			.img_6{
				margin-left: 	17.5%;
			}
			hr{
				margin-top: 1%;
			}
			.menu_price li {
				margin-bottom: 97%;
			}
			.row_last {
				margin-bottom: 6.7%;
			}
			.img_9{
				margin-left: 7%;
			}
			.img_10{
				margin-left: 15%;
			}
			p.follow{
				margin-left: 	-3%;
			}
			.row_slide_2 {
				margin-top: 65.5%;
			}
			.picture img{
				max-width: 90%;
			}
			.otra img{
				max-width: 100%;
			}
			.otra{
				top:33%;
			}
			#one:checked ~ .second_2,
			#two:checked ~ .third_3,
			#three:checked ~ .fourth_4,
			#four:checked ~ .first_1{
				-webkit-transform-origin: 220%;
				-moz-transform-origin: 220%;
				-o-transform-origin: 220%;
				transform-origin: 220%;
			}
			#one:checked ~ .third_3,
			#two:checked ~ .fourth_4,
			#three:checked ~ .first_1,
			#four:checked ~ .second_2 {
				-webkit-transform-origin: 163%;
				-moz-transform-origin: 163%;
				-o-transform-origin: 163%;
				transform-origin: 163%;
			}
			#one:checked ~ .fourth_4,
			#two:checked ~ .fiest_1,
			#three:checked ~ .second_2,
			#four:checked ~ .third_3{
				-webkit-transform-origin: 168%;
				-moz-transform-origin: 168%;
				-o-transform-origin: 168%;
				transform-origin: 168%;
			}
			.p_left{
				margin-right: 13%;
			}
			.p_right{
				margin-left: 13%;
			}
			.square {
				top: -90px;
				margin-bottom: -7%;
			}
			.blog_text {
				top: -26%;
				left: 9%;
				width: 82%;
				height: 98%;
			}
			.list-second {
				margin-top: -12.1%;
				margin-left: -29%;
			}
			.opening{
				margin: 25% 0;
			}
			.list_blog_single > li:last-child {
				margin-left: 30%;
			}
		}
		@media (max-width: 991px){
			h2{
				font-size: 40px;
				letter-spacing: 11px;
			}
			h3{
				font-size: 12px;
			}
			.nav_page a.logo{
				padding-left: 0;
			}
			.all{
				padding-left: 0;
				padding-right: 0;
			}
			.nav_one{
				margin-left: 	0%;
			}

			.nav_one>li{
				margin-left: 	-3%;
			}
			.text_slide {
				left: 35.8%;
			}
			.text_slide h2 {
				font-size: 40px;
			}
			.text_slide h3 {
				font-size: 26px;
			}
			.arrow_left, .arrow_right {
				left: 14.5%;
			}
			.about .col-right {
				margin-bottom: 6%;
			}
			.about h2{
				margin-top: 24%;
			}
			.img_4 {
				top: 56px;
			}
			.img_5 {
				top: 7px;
			}
			.gallery h2 {
				margin-top: 42%;
			}
			.img_6{
				margin-left: 	7.5%;
				margin-top: 	16%;
			}
			.img_7{
				margin-left: 0;
			}
			.appetizers_img li {
				margin-bottom: 51%;
			}
			.col_description{
				margin-left: 5%;
			}
			.menu p.description {
				line-height: 17px;
			}
			.menu_price li {
				margin-bottom: 92%;
			}
			p.quote{
				margin-top: 55%;
			}
			.img_8{
				top: -50px;
			}
			.img_9 {
				margin-left: -2%;
			}
			.img_10 {
				margin-left: 3%;
			}
			.otra_two {
				margin-top: 11%;
			}
			#one:checked ~ .second_2,
			#two:checked ~ .third_3,
			#three:checked ~ .fourth_4,
			#four:checked ~ .first_1{
				-webkit-transform-origin: 208%;
				-moz-transform-origin: 208%;
				-o-transform-origin: 208%;
				transform-origin: 208%;
			}
			#one:checked ~ .third_3,
			#two:checked ~ .fourth_4,
			#three:checked ~ .first_1,
			#four:checked ~ .second_2 {
				-webkit-transform-origin: 150%;
				-moz-transform-origin: 150%;
				-o-transform-origin: 150%;
				transform-origin: 150%;
			}
			#one:checked ~ .fourth_4,
			#two:checked ~ .fiest_1,
			#three:checked ~ .second_2,
			#four:checked ~ .third_3 {
				-webkit-transform-origin: 150%;
				-moz-transform-origin: 150%;
				-o-transform-origin: 150%;
				transform-origin: 150%;
			}
			.service p{
				font-size: 17px;
			}
			.p_left{
				margin-right: 2%;
			}
			.p_right{
				margin-left: 2%;
			}
			.blog_text {
				top: -38.5%;
			}
			.blog_text2 .blog_bottom2 {
				margin-top: -13%;
			}
			.all {
				margin-left: 10%;
			}
			a.navbar-brand.logo {
				margin-left: -7% !important;
			}
			.list_blog_single > li:last-child {
				margin-left: 4%;
			}
			
		}
		@media (max-width: 923px){
			
			.search{
				margin-left: 	35%;
			}

		}	
		@media (max-width: 767px){

			h2{
				font-size: 38px;
			}
			.nav_page {
				padding: 16px 0;
			}	.nav_one {
				width: 100%;
			}
		
			.navbar-default .navbar-toggle{
				border: 0;
			}
			.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
				background-color: #fff;
			}
			.search {
				margin-left: 0;
			}
			a.navbar-brand.logo{
				margin-left: 1% !important;
			}
			.border_right{
				border-right: 0;
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				margin-top: 0;	
			}
			.visible-xs {
				display: inline-block !important;
			}
			.all {
				margin-left: 0;
			}
			.text_slide {
				left: 42%;
				right: -6%;
				padding-bottom: 6%;
			}
			.about .col-right {
				margin-left: 0%;
			}
			.about h2,.gallery h2,
			.menu h2, .reservation h2,
			.lunch h2,.contact h2, 
			.history h2, .goals h2{
				margin-top: 10%;
			}
			.gallery h2, .gallery h3,.day1 p, p.day{
				text-align: center;
			}
			.img_4, .img_5, .img_6, .img_7, .img_8, .img_9, .img_10{
				max-width: 80%;
			}
			.img_4 {
				left: 23%;
			} 
			.img_5 {
				margin-bottom: 5%;
				left: 	6%;
			}
			.img_6 {
				margin-left: 31.5%;
			}
			.img_7 {
				margin-bottom: 	20%;
				margin-left: 20%;
			}
			.block_thumb{
				margin-top: 5%;
			}
			.slide_2 p{
				left: 50.5%;
			}
			.picture {
				left: 13%;
			}
			.otra_two {
				margin-top: 11%;
			}
			#one:checked ~ .second_2,
			#two:checked ~ .third_3,
			#three:checked ~ .fourth_4,
			#four:checked ~ .first_1{
				-webkit-transform-origin: 103%;
				-moz-transform-origin: 103%;
				-o-transform-origin: 103%;
				transform-origin: 103%;
			}
			#one:checked ~ .third_3,
			#two:checked ~ .fourth_4,
			#three:checked ~ .first_1,
			#four:checked ~ .second_2{
				-webkit-transform-origin: center;
				-moz-transform-origin: center;
				-o-transform-origin: center;
				transform-origin: center;
			}
			#one:checked ~ .fourth_4,
			#two:checked ~ .fiest_1,
			#three:checked ~ .second_2,
			#four:checked ~ .third_3{
				-webkit-transform-origin: center;
				-moz-transform-origin: center;
				-o-transform-origin: center;
				transform-origin: center;
			}
			.menu h2, .contact h2{
				margin-right: -1.5%;
			}
			.col_description {
				margin-left: 7%;
			}
			.menu_img {
				margin-left: 0%;
			}
			p.quote {
				margin-top: 5%;
				margin-bottom: -1%;
			}
			.img_8{
				top: -10px;
				left: 26%;
			}
			.img_8{
				float: none;
			}
			.reservation h2 {
				margin-bottom: -2%;
			}
			p.author{
				margin-bottom: 	12%;
			}
			p.reserv {
				margin-bottom: 5%;
			}
			.img_10 {
				margin-left: 23%;
				margin-top: -12%;
			}
			.img_9 {
				top: 0;
				margin-left: 11%;
			}
			.form_first img {
				margin-bottom: 3%;
			}
			.new-select{
				margin-top: 	6%;
			}
			.form_first select.form-control{
				margin-top: 0%;
			}
			input#datetimepicker1 {
				width: 66%;
				margin-left: 21%;
				margin-top: -8%;
			}
			.arrow_date {
				margin-top: -2.8%;
				margin-right: 14% !important;
			}
			.calendar {
				margin-left: -65%;
			}
			.form_second .text-right{
				text-align: center;
			}
			footer a.logo_1 {
				padding: 14px 0;
			}
			p.footer{
				padding: 0;
				margin-top: 0;
				letter-spacing: 0px;
			}
			p.follow {
				display: block;
				margin-left: 0;
				padding: 20px	0;
				text-align: center;
			}
			.social_block{
				display: block;	
				margin-bottom: 	20px;
				text-align: center;	
			}
			button.send{
				margin-bottom: 9%;
			}
			h4.detail {
				margin-bottom: 6.5%;
			}
			.details {
				margin-bottom: 8%;
			}
			.service p {
				margin-top: 10.2%;
				margin-bottom: 10.2%;
				text-align: center;
			}
			.col_middle {
				border-left: 0;
				border-right: 0;
				border-top: 1px solid #d9d9d9;
				border-bottom: 1px solid #d9d9d9;
			}
			.row_square{
				background-color: transparent;
			}

			.square {
				top: 0;
				margin-bottom: 20%;
			}
			.square.square3{
				margin-bottom: 0;
			}
			.row_slide_2h {
				margin-top: 15.5%;
			}
			.blog_text {
				top: 3.5%;
				left: 30.5%;
				width: 39%;
				height: 92%;
			}
			.blog_text2 .blog_bottom2 {
				margin-top: -9%;
			}
			.nav_about {
				background-color: 
				#fff;
			}
			a.logo_about {
				color: #000 !important;
			}
			.about_us h3, .menu_our h3, .reservation_our h3{
				font-size: 24px;
				letter-spacing: 2px;
			}
			.list-second {
				margin-top: -6%;
				margin-left: 81%;
			}
			.list-second > li> a {
				color: #000 !important;
			}
			.about .col-right, .history .col-right {
				margin-left: 0;
			}
			.opening {
				margin: 8% auto;
			}
			.nav_about2 >li > a, .list-second > li> a {
				color: #000 !important;
			}	
			.main .post h3{
				font-size: 20px;
			}
			.avatar p{
				text-align: center;
			}
			.avatar img{
				float: none;
				margin: 0 auto;
			} 
			p.date_bs{
				color: #dfe0e1;
				margin-bottom: 10%;
			}
			.comments .avatar p{
				text-align: left;
			}
			span.comment{
				color: #1e2633;
				font-weight: 800;
			}
			.gras{
				text-align: center;
			}

		}	
		@media (max-width: 645px){
		.slider_2s {
				max-width: 580px;
				max-height: 400px;
				left: 0;
			}
			.slider_2s ul li {
				max-width: 580px;
				max-height: 400px;
			}	
			.blog_text{
				width: 46%;
				left: 27%;
			} 
		}	
		@media (max-width: 475px){
			h2{
				letter-spacing: 8px;
			}
			.text_slide h2{
				letter-spacing: 6px;
			}
			.arrow_left, .arrow_right {
				left: 7.5%;
				top: 54%;
			}
			.text_slide {
				left: 3%;
				right: -11%;
				padding-bottom: 13%;
			}
			.text_slide h2 {
				font-size: 30px;
			}
			.text_slide h3 {
				font-size: 22px;
			}
			.img_4 {
				left: 15.3%;
				top: 65px;
			}
			.img_5 {
				left: 4%;
				top: 24px;
			}
			.about h2{
				margin-top: 10%;
			}
			.img_6{
				margin-left: 15.3%;
			}
			.img_7, .img_9{
				margin-left: 4%;
			}
			.otra{
				top: 23%;
			}
			.otra_two {
				margin-top: 	17%;
			}	
			.row_slide_2 {
				margin-top: 74.5%;
			}
			.row_slide_2h {
				margin-top: 12.5%;
			}
			hr {
				margin-top: 2%;
			}
			.food p{
				text-align: center;
			}
			.food_1 p {
				margin-top: -15%;
			}
			p.price{
				position: absolute;
				left: 0;
				font-size: 22px;	
			}
			.col_description {
				margin-left: 23%;
			}
			.dish_description p.description {
				line-height: 25px;
				margin-bottom: 69px;
			}
			.menu_img {
				margin-left: 195%;
				margin-bottom: 131px;
			}
			.appetizers_img1 .menu_img {
				margin-bottom: 105px;
			}
			.menu_1{
				margin-top: 11px;
			}
			.menu_4{
				margin-top: -31px;
			}
			.menu_5{
				margin-top: 11px;
			}
			.menu_6{
				margin-top:-44px;
			}
			.menu_7{
				margin-top:-50px;
				margin-bottom: 79px;
			}
			.menu_9{
				margin-top: 11px ;
			}
			.menu_10{
				margin-top: -50px;
			}
			.price_1{
				top: -616px;
			}
			.price_2{
				top: -1131%;
			}
			.price_3{
				top: -641%;
			}
			.price_4{
				top: -66px;
			}
			.price_5{
				top: -639px;
			}
			.price_6{
				top: -450px;
			}
			.price_7 {
				top: -282px;
			}
			.price_8 {
				top: -113px;
			}
			.price_9 {
				top: -420px;
			}
			.price_10 {
				top: -250px;
			}
			.menu_11{
				margin-top: -51px;
			}
			.price_11 {
				top: -82px;
			}
			.menu_12{
				margin-top: 11px;
			}
			.price_12 {
				top: -463px;
			}
			.price_13 {
				top: -230px;
			}
			.menu_14{
				margin-top: -28px;
			}
			.price_14 {
				top: -39px;
			}
			p.quote {
				font-size: 20px;
			}
			.row_last {
				margin-bottom: 0;
			}
			.img_8{
				left: 10%;
			}
			.img_10 {
				margin-left: 15.3%;
				margin-top: -21%;
			}
			.form_first img {
				margin-bottom: 5%;
			}
			input#datetimepicker1{
				margin-top: -15%;
				margin-left: 24%;
			}
			.calendar{
				margin-top: -10%;
			}
			.arrow_date{
				margin-top: -4.8%;
				margin-right: 12% !important;
			}

			button.order{
				margin-top: -84%;
			}
			.slider_2s {
				max-width: 390px;
				max-height: 280px;
				left: 0;
			}
			.slider_2s ul li {
				max-width: 400px;
				max-height: 280px;
			}	
			.blog_text {
				width: 70%;
				left: 15%;
			}
			.list-second {
				margin-top: -11.9%;
				margin-left: 65%;
			}
			ul.accordion{
			display: block;
		}
		ul.accordion img{
			width: 285px;
		}
		ul.accordion li{
			width: 320px;
			height: 100px;
		}
		ul.accordion li:hover{
			height: 195px;
			width: 320px;
		}
		ul.accordion:hover li:nth-child(6){
			width: 320px;
		} 
		ul.accordion li:nth-child(1){
			height: 220px;
		}
		ul.accordion:hover li:nth-child(1){
			height: 100px;
		} 
		ul.accordion li:nth-child(1):hover{
			height: 220px;
		}
		.list_blog_single > li:last-child {
			margin-left: 14%;
		} 
		.comments .avatar_text{
			clear: left;
		}	

	}

		@media (max-width: 375px){

			.arrow_left, .arrow_right {
				left: 2.5%;
			}
			.menu_nav li {
				padding-right: 5%;
			}
			.appetizers_img1 .menu_img {
				margin-bottom: 131px;
			}
			.menu_4 {
				margin-top: -23px;
			}
			.menu_6 {
				margin-top: -18px;
			}
			.menu_7 {
				margin-top: -46px;
				margin-bottom: 111px;
			}
			.menu_10,.menu_11, .menu_13{
				margin-top: -24px;
			}
			.menu_12{
				margin-top: 10px;
				margin-bottom: 156px;
			}
			p.price {
				left: -7px;
			}
			.price_1 {
				top: -707px;
			}
			.price_2 {
				top: -491px;
			}
			.price_3 {
				top: -278px;
			}
			.price_4 {
				top: -80px;
			}
			.price_5 {
				top: -710px;
			}
			.price_6 {
				top: -492px;
			}
			.price_7 {
				top: -320px;
			}
			.price_8 {
				top: -124px;
			}
			.price_9 {
				top: -466px;
			}
			.price_10 {
				top: -268px;
			}
			.price_13 {
				top: -248px;
			}
			.price_14 {
				top: -57px;
			}
			.img_8{
				left: 10%;
			}
			.otra {
				top: 18%;
			}
			.otra_two {
				margin-top: 20%;
			}
			.reservation h2{
				font-size: 27px;
			}
			.row_slide_2 {
				margin-top: 60%;
			}
			.slider_2s {
				max-width: 290px;
				max-height: 200px;
				left: 7%;
			}	
			.slider_2s ul li {
				max-width: 290px;
				max-height: 200px;
			}	
			.blog_text {
				width: 78%;
				left: 11%;
				top: 4%;
			}
			.list-second {
				margin-top: -12.9%;
				margin-left: 60%;
			}
			.cd-pagination li a{
				padding-left: 11px;
				padding-right: 11px;
			}
			.pagination-our a.arrow_right1{
				background-position: 6px 0px;
			}
			.pagination-our a.arrow_right1:hover{
				background-position: 6px -25px;
			}
			.list_blog_single > li:last-child {
				margin-left: 0%;
			}
		}

		@media (max-width: 320px){
			.text_slide h2 {
				letter-spacing: 1px;
				margin-bottom: 	-27px;
			}
			.block_thumb{
				padding-right: 0;
			}
			.menu_nav li {
				padding-right: 1%;
			}
			.menu_img {
				margin-left: 0;
				margin-bottom: 155px;
			}
			.appetizers_img1 .menu_img {
    margin-bottom: 155px;
}
			.menu_1{
				margin-top: 11px;
			}
			.menu_4{
				margin-top: -20px;
			}
			.menu_6 {
				margin-top: -40px;
			}
			.menu_7{
				margin-bottom: 	105px;
			}
			.menu_9{
				margin-bottom: 	132px;
			}
			.menu_13{
				margin-top: 2px;
			}
			.menu_14 {
				margin-top: -24px;
			}
			.price_10 {
				top: -308px;
			}
			.price_11 {
				top: -91px;
			}
			.price_12 {
				top: -501px;
			}
			.price_13 {
				top: -260px;
			}
			p.price {
				left: -5px;
			}
			.price_1{
				top: -790px;
			}
			.price_2{
				top: -555px;
			}
			.price_3{
				top: -313px;
			}
			.price_4{
				top: -93px;
			}
			.price_5 {
				top: -740px;
			}
			.price_6 {
				top: -525px;
			}
			.price_7 {
				top: -332px;
			}
			.price_8 {
				top: -140px;
			}
			.price_9 {
				top: -503px;
			}	

			.otra {
				top: 16%;
			}  
			.otra_two {
				margin-top: 23%;
			}
			.slider_2s {
				max-width: 290px;
				max-height: 200px;
				left: 0;
			}	
			.slider_2s ul li {
				max-width: 290px;
				max-height: 200px;
			}	
			.slider_2s .nav {
				left: 36.5%;
			}
			.blog_text {
				top: 4.5%;
				left: 9%;
				width: 82%;
				height: 92%;
			}
			.list-second {
				margin-top: -15.9%;
				margin-left: 51%;
			}
			ul.accordion li{
			width: 285px;
			height: 100px;
		}
		ul.accordion li:hover{
			height: 196px;
			width: 285px;
		}
		ul.accordion li:nth-child(6){
			width: 285px;
		}
		ul.accordion:hover li:nth-child(6){
			width: 285px;
		} 
		ul.accordion li:nth-child(1){
			height: 196px;
			width: 285px;
		}
		ul.accordion:hover li:nth-child(1){
			height: 100px;
		} 
		ul.accordion li:nth-child(1):hover{
			height: 196px;
		} 	
		.reservation_our h2{
			letter-spacing: 7px;
		}	
		.gras p{
			text-align: left;
		}
		}